{{template "base" .}}
{{define "content"}}
<style>
  .swal2-actions {
    z-index: 0;
  }
</style>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/static/images/general-quarters.jpg"
        class="d-block mx-lg-auto img-fluid img-thumbnail"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">General Quarters</h1>
      <p class="lead">
        Quickly design and customize responsive mobile-first sites with
        Bootstrap, the world’s most popular front-end open source toolkit,
        featuring Sass variables and mixins, responsive grid system, extensive
        prebuilt components, and powerful JavaScript plugins.
      </p>

      <button
        id="submit"
        type="button"
        class="btn btn-primary btn-lg px-4 me-md-2"
      >
        Reserve Quarters
      </button>
    </div>
  </div>
</div>
{{ end }}

{{define "js"}}
<script>
  let attention = Prompt();
  const submit = document.querySelector('#submit');

  submit.addEventListener('click', () => {
    let html = `
  <form class="row needs-validation mx-auto" novalidate id="reservations-dates" style="max-width: 400px;" autocomplete="off">
    <div class="col">
      <input id='start' type="text" required class="form-control" name="start" placeholder="Arrival" />
    </div>
    <div class="col">
      <input id='end' type="text" required class="form-control" name="end" placeholder="Departure" />
    </div>
  </form>
  `;
    attention.form({
      title: 'Chose your dates',
      html,
    });
  });
</script>
{{ end }}
