{{template "base" .}}
{{define "content"}}
<section class="container py-4">
  <h1>Login</h1>
  <form novalidate class="needs-validation" action="/user/login" method="POST" autocomplete="on">
    {{$res := index .Data "login"}}
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" required class="form-control
      {{with .Form.Errors.Get "email"}} is-invalid {{ end }}" name="email"
      aria-describedby="email" value="{{$res.Email}}" />
      {{with .Form.Errors.Get "email"}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{ end }}
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" required class="form-control
      {{with .Form.Errors.Get "password"}} is-invalid {{ end }}" name="password"
      aria-describedby="password" value="{{$res.Password}}" />
      {{with .Form.Errors.Get "password"}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{ end }}
    </div>


    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

{{ end }}
