{{template "base" .}}
{{define "content"}}
{{$res := index .Data "reservation"}}
<section class="container">
  <h1 class="py-3">Reservation Summary</h1>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ $res.LastName }}, {{ $res.FirstName }}</td>
      </tr>
    
      <tr>
        <th>Room</th>
        <td>{{ $res.Room.RoomName }}</td>
      </tr>
      <tr>
        <th>Arival</th>
        <td>{{ index .StringMap "start_date" }}</td>
      </tr>
      <tr>
        <th>Departure</th>
        <td>{{ index .StringMap "end_date" }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ $res.Email }}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>{{ $res.Phone }}</td>
      </tr>
    </tbody>
  </table>
</section>

{{ end }}
