{{template "base" .}}
{{define "content"}}
<div class="container">
  {{$res := index .Data "reservation"}}
  <h1 class="my-5">Make Reservation</h1>
  <p><strong>Reservation Details</strong><br>
  Room : {{$res.Room.RoomName}}<br>
  Arrival: {{index .StringMap "start_date"}}<br>
  Departure: {{index .StringMap "end_date"}}
  </p>
  
  <form novalidate class="needs-validation" action="/reservation" method="POST">
    <div class="mb-3">
      <label class="form-label">First Name</label>

      <input type="text" class="form-control
      {{with .Form.Errors.Get "first_name"}} is-invalid {{ end }}" required
      name="first_name" aria-describedby="firstName" value="{{
        $res.FirstName
      }}"/>
      {{with .Form.Errors.Get "first_name"}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{ end }}
    </div>
    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <input type="text" required class="form-control
      {{with .Form.Errors.Get "last_name"}} is-invalid {{ end }}"
      name="last_name" aria-describedby="lastName" value="{{ $res.LastName }}"
      />
      {{with .Form.Errors.Get "last_name"}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{ end }}
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" required class="form-control
      {{with .Form.Errors.Get "email"}} is-invalid {{ end }}" name="email"
      aria-describedby="email" value="{{ $res.Email }}" />
      {{with .Form.Errors.Get "email"}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{ end }}
    </div>
    <div class="mb-3">
      <label class="form-label">Phone Number</label>
      <input type="text" required class="form-control
      {{with .Form.Errors.Get "phone"}} is-invalid {{ end }}" name="phone"
      aria-describedby="phoneNumber" value="{{ $res.Phone }}" />
      {{with .Form.Errors.Get "phone"}}
      <div class="invalid-feedback">
        {{.}}
      </div>
      {{ end }}
    </div>


    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}" />
    <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}" />
    <input type="hidden" name="room_id" value="{{$res.RoomID}}" />
    <button type="submit" class="btn btn-primary">Make Reservation</button>
  </form>
</div>

{{ end }}

{{define "js"}}
<!-- <script>
  (function () {
    'use strict';

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    let forms = document.querySelectorAll('.needs-validation');

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        'submit',
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false
      );
    });
  })();
</script> -->
{{ end }}
